.popup {
    position: fixed;
    top: -300px;
    width: 300px;
    height: 100px;
    background-color: #adff2f;
    border-width: 5px;
    border-style: solid;
    border-color: #9acd32;
    text-align: center;
    border-radius: 10px;
    -moz-transition:all 2.0s ease-in-out;
    -o-transition:all 2.0s ease-in-out;
    -ms-transition:all 2.0s ease-in-out;
    -webkit-transition:all 2.0s ease-in-out;
    transition:all 2.0s ease-in-out;
}

.popup.visible {
    top: 50px;
}

.popup .message {
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
}

.popup .dismiss {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 50px;
    left: 105px;
    background-color: #417033;
    border-width: 5px;
    border-style: solid;
    border-color: #9acd32;
    border-radius: 10px;
}

.popup .dismiss:hover {
    background-color: #305b2d;
    cursor: pointer;
}

.popup .dismiss:active {
    top: 52px;
}

.popup .dismiss:after {
    content: 'OK!';
    font-weight: bold;
    color: white;
}